<%= render '/groups/sub_nav' %>

<input type="hidden" id="hidden_auth" value="<%= form_authenticity_token %>">
<input type="hidden" id="start_date" value="<%= @start_date %>">

<div id="cal_wrap">
	<div id="cal_header">
		<div id="cal_links">
			<a href="#" class="day_link"></a>
			<a href="#" class="week_link"></a>
			<a href="#" class="month_link"></a>
			<a href="#" class="forecast_link"></a>
		</div>
		<a id="toggle_queue"></a>
	</div>
	<div id="forecast_wrap">
		<div id="cal_tear"></div>
		
		<div id="queue">
			<div id="queue_title"></div>
      <% for day in @start_date..@end_date %>     
       <div class="queue_day" date="<%= day %>">
				<div class="queue_day_title"><%= day.strftime('%B %d') %></div>

         <% for event in @events %>
           <% if event.starts_at.strftime('%j').to_s == day.strftime('%j').to_s and !event.ends_at %>
               <div class='queue_item' id="<%= event.id.to_s %>">
									<div class="task">
		    						<%= event.task %>
									</div>
							 </div>
           <% end %>
         <% end %>

			</div>
			<% end %>
    </div>

	<div id="cal_grid_wrap">
		<div id="cal_title_header">
			<h1 id="cal_title"> 
				<% if( @start_date.strftime('%B') == @end_date.strftime('%B') ) %>
					<%= @start_date.strftime('%B %d') %> - <%= @end_date.strftime('%d') %> 
				<% else %>
					<%= @start_date.strftime('%B %d') %> - <%= @end_date.strftime('%B %d') %> 
				<% end %>
			</h1>
			<div id="set_range" >
				<div class="text">
  				<span class="edit"></span>
					<h2 class="cal_subtitle"><%= @range %> Day Forecast</h2>
				</div>
				<div class="form no_disp">
					<form action="/forecast/index">
						<input type="text" name="range">
						<h2 class="cal_subtitle"> Day Forecast</h2>
						<input type="hidden" name="start_date" value="<%= @start_date %>">
					</form>
				</div>
			</div>
		</div>

	<%= weekly_calendar(@events, :date => @date, :range => @range, :include_24_hours => true) do |w| %>

		<%= w.week(:business_hours => 'false', :clickable_hours => true) do |event| %>

			<div class="week_event">
					<div class="task">
			    	<%= event.task %>
					</div>
			</div>
			<span class="lock"></span>
			<div class="start_time">    
				<%= event.starts_at.strftime('%l:%M%p') %> - <%= event.ends_at.strftime('%l:%M%p') %>
			</div>


		<% end %>
		
	<% end %>
</div>
</div>
</div>