
<div class="week">
		<div class = "days">
      <div class="header_row_days"></div>
      <% for day in @start_date..@end_date %>  
        <div class="day">
        	<% if day.strftime('%d') == '01' %>
         	<div class="month"><%=day.strftime('%B')%></day>
        	<% end %>
        	<span class="day_number"><%= day.strftime('%d') %></span>
					<span class="day_name"><%= day.strftime('%A') %></span>
        </div>
      <% end %>
    </div>

		<% hours = ['12 <span class="smaller">AM</span>','1 <span class="smaller">AM</span>','2 <span class="smaller">AM</span>','3 <span class="smaller">AM</span>','4 <span class="smaller">AM</span>','5 <span class="smaller">AM</span>','6 <span class="smaller">AM</span>','7 <span class="smaller">AM</span>','8 <span class="smaller">AM</span>','9 <span class="smaller">AM</span>','10 <span class="smaller">AM</span>','11 <span class="smaller">AM</span>','12 <span class="smaller">PM</span>','1 <span class="smaller">PM</span>','2 <span class="smaller">PM</span>','3 <span class="smaller">PM</span>','4 <span class="smaller">PM</span>','5 <span class="smaller">PM</span>','6 <span class="smaller">PM</span>','7 <span class="smaller">PM</span>','8 <span class="smaller">PM</span>','9 <span class="smaller">PM</span>','10 <span class="smaller">PM</span>','11 <span class="smaller">PM</span>'] %>

    <div class="hours">
      <div class="full_header_row">
        <% for hour in hours %>
          <div class="header_box"><%= hour.html_safe %></div>
        <% end %>
			</div>
      <div class="full_grid">
	
	       <% for day in @start_date..@end_date %>
          <div class="full_day_row" date="<%= day %>">
          <% for event in @events %>
            <% if event.starts_at.strftime('%j').to_s == day.strftime('%j').to_s %>
            <% if event.starts_at.strftime('%H').to_i >= 0 and event.ends_at %>
								<% 	minutes = event.starts_at.strftime('%M').to_f * 1.25
										hour = event.starts_at.strftime('%H').to_f
    								left = (hour * 75) + minutes
										start_hours = event.starts_at.strftime('%H').to_i * 60 
    								start_minutes = event.starts_at.strftime('%M').to_i + start_hours 
    								end_hours = event.ends_at.strftime('%H').to_i * 60 
    								end_minutes = event.ends_at.strftime('%M').to_i + end_hours 
    								difference =  (end_minutes.to_i - start_minutes.to_i) * 1.25 
    								unless difference < 60
      								width = difference - 12
    								else
      								width = 63
    								end
								%>
                <div class="week_event_wrap" id="<%= event.id %>" style="left: <%= left %>px; width: <%= width %>px">
                  <div class="week_event">
										<div class="task">
								    	<%= event.task %>
											<%= link_to 'x', task_path(event, :task => { :starts_at => nil, :ends_at => nil }), :method => :put, :remote => true, :class => 'delete_event' %>
										</div>
									</div>
									<span class="lock"></span>
									<div class="start_time">    
										<%= event.starts_at.strftime('%l:%M%p') %> - <%= event.ends_at.strftime('%l:%M%p') %>
									</div>
                </div>
            <% end %>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
		
</div>