	<div id="full_week_wrap">
		<h1 id="week_title">
				<% if( @start_date.strftime('%B') == @end_date.strftime('%B') ) %>
					<%= @start_date.strftime('%B %d') %> - <%= @end_date.strftime('%d') %> 
				<% else %>
					<%= @start_date.strftime('%B %d') %> - <%= @end_date.strftime('%B %d') %> 
				<% end %>
			</h1>

	<% hours = ['12 <span class="new_smaller">AM</span>','1 <span class="new_smaller">AM</span>','2 <span class="new_smaller">AM</span>','3 <span class="new_smaller">AM</span>','4 <span class="new_smaller">AM</span>','5 <span class="new_smaller">AM</span>','6 <span class="new_smaller">AM</span>','7 <span class="new_smaller">AM</span>','8 <span class="new_smaller">AM</span>','9 <span class="new_smaller">AM</span>','10 <span class="new_smaller">AM</span>','11 <span class="new_smaller">AM</span>','12 <span class="new_smaller">PM</span>','1 <span class="new_smaller">PM</span>','2 <span class="new_smaller">PM</span>','3 <span class="new_smaller">PM</span>','4 <span class="new_smaller">PM</span>','5 <span class="new_smaller">PM</span>','6 <span class="new_smaller">PM</span>','7 <span class="new_smaller">PM</span>','8 <span class="new_smaller">PM</span>','9 <span class="new_smaller">PM</span>','10 <span class="new_smaller">PM</span>','11 <span class="new_smaller">PM</span>'] %>

	<div class="week_header">
		<% count = 0 %>
		<% for day in @start_date..@end_date %>  
		<% count = count+1 %>
       <div class="week_date_header col<%= count %>">
       	<%= day.strftime('%A') %>
				<div class="time_wrap" date="<%= day %>">
					Must: <span class="must"></span>
					Total: <span class="totalmin"></span> / <span class="totalmax"></span>
				</div>
       </div>
     <% end %>
	</div>
	
	<div class="week_queue">
		<% count = 0 %>
		<div class="queue_hour col<%= count %>"> No Time </div>
		<% for day in @start_date..@end_date %>  
		<% count = count+1 %>
       <div class="queue_day col<%= count %>" date="<%= day %>">
       	    <% for task in @tasks %>
            	<% if task.starts_at.strftime('%j').to_s == day.strftime('%j').to_s && task.queued == true %>
								<%= render :partial => 'task', :locals => { :task => task } %>
							<% end %>
						<% end %>
       </div>
     <% end %>
	</div>

<div class="new_week">
	
     <div class="new_full_grid">
	
			<div class="new_hours col0">
     		<% for hour in hours %>
       		<div class="new_hour">
        		<%= hour.html_safe %>
        	</div>
     			<% end %>
    	</div>
	
			<% count = 0 %>
	       <% for day in @start_date..@end_date %>
			<% count = count+1 %>
          <div class="new_full_hour_row col<%= count %>" date="<%= day %>">
          <% for task in @tasks %>
            <% if task.starts_at.strftime('%j').to_s == day.strftime('%j').to_s && task.scheduled == true %>
							<%= render :partial => 'task', :locals => { :task => task } %>
            <% end %>
          <% end %>
          </div>
        <% end %>
      </div>
		
</div>