<script src="/assets/day.js" type="text/javascript"></script>
<div class="category" id="<%= category.id.to_s %>">
	<div class="top">
		<span class="cover"><%= image_tag category.images.forward.first.image.thumb if category.images.first %></span>
		<span class="title"><%= category.title %></span>
		<span class="count"><span class="inner_shadow"></span><span class="count_text"><%= category.tasks.incomplete.count %></span></span>
	</div>
	<div>
		<ul class="category_task_wrap droppable">
			<% category.tasks.incomplete.each_with_index do |task, index| %>
					<%= render :partial => 'task_category', :locals => { :task => task, :index => index } %>
			<% end %>
		</ul>
	</div>
	
</div>