<li id="<%= task.id %>" class="cal_task task_wrap sortable <%= 'complete' if task.complete == true %>">
	
	<div class="outcome_wrap">
		<span class="checkbox <%= 'active' if task.complete == true %>"></span>
		<span class="target <%= 'active' if task.outcome == true %>"></span>
		<span class="star <%= 'active' if task.must == true %>"></span>
		<span class="thumbnail">
			<%= image_tag category.images.forward.first.image.tiny if category.images.forward.first %>
		</span>
		<span class="task drag result">
			<%= task.task %>
		</span>
	</div>

</li> 