<li id="<%= task.id %>" class="cal_task task_wrap sortable <%= 'complete' if task.complete == true %>">
	
	<div class="outcome_wrap">
		<span class="checkbox <%= 'active' if task.complete == true %>"></span>
		<span class="target <%= 'active' if task.outcome == true %>"></span>
		<span class="star <%= 'active' if task.must == true %>"></span>
		<span class="date">
			<%= schedule_date(task.starts_at) if task.starts_at %>
		</span>
		<span class="duration">
			<%= min_duration(task.min_duration) if task.min_duration %>
			<%= max_duration(task.max_duration) if task.max_duration %>
		</span>
		<span class="task drag result">
			<%= task.task %>
		</span>
		<form class="edit_task no_disp" method="post" action="tits">
			<input type="text" value="<%= task.task %>" class="edit_task_text">
		</form>
	</div>

</li> 