

<input type="hidden" id="hidden_auth" value="<%= form_authenticity_token %>">
<input type="hidden" id="start_date" value="<%= @start_date %>">

<div id="day_cal_wrap">
	<div id="day_cal_header">
		<div id="cal_links">
			<a href="#" class="day_link"></a>
			<a href="#" class="week_link"></a>
			<a href="#" class="month_link"></a>
			<a href="#" class="forecast_link"></a>
		</div>
		<span id="add_task">Add Task</span>
	</div>
	<div id="day_white_wrap">
		<div id="cal_tear"></div>
		
		<div id="cal_groups">
			<div class="master_title">Personal</div>
      <% @personal_groups.each do |role| %>     
       <div class="role_wrap" role="<%= role.id.to_s %>">
				<div class="role_title">
					<%= role.title %> 
				</div>
				<div class="items">
					<% role.tasks.unplanned.each do |task| %>
						<%= render :partial => 'task', :locals => { :task => task } %>
					<% end %>
				</div>
				</div>
			<% end %>
			<div class="master_title">Professional</div>
			<% @professional_groups.each do |role| %>     
       <div class="role_wrap" role="<%= role.id.to_s %>">
				<div class="role_title">
					<%= role.title %> 
				</div>
				<div class="items">
					<% role.tasks.unplanned.each do |task| %>
						<%= render :partial => 'task', :locals => { :task => task } %>
					<% end %>
				</div>
				</div>
			<% end %>
    </div>

	<%= render 'calendar_day' %>
	
</div>
</div>
