<% if @invite.type == 'mobile' %>


<div class="dialog">
<%= form_for @invite, :remote => true do |f| %>
  <div class="top"></div>
  <div class="content">
    <h3>Timemaster Mobile Beta Invite</h3>

    <%= f.error_messages :header_message => false,
            :message => "Please correct the following:" %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.hidden_field :type %>
  </div>
  <div class="content-end"></div>
  <div class="bottom">
    <input type="submit" value="Submit" />
    <div class="loader hide"></div>
  </div>
<% end %>
</div>


<% else %>


<div class="dialog">
<%= form_for @invite, :remote => true do |f| %>

  <div class="top"></div>
  <div class="content">
    <h3>Request a Beta Invite</h3>
    <p> TimeMaster is still in private beta. Enter your email address below
        and we will send you a free beta key as soon as a spot becomes
        available.</p>

    <%= f.error_messages :header_message => false,
            :message => "Please correct the following:" %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.hidden_field :type %>
  </div>
  <div class="content-end"></div>
  <div class="bottom">
    <input type="submit" value="Submit" />
    <div class="loader hide"></div>
  </div>

<% end %>
</div>


<% end %>
