
<% content_for :top do %>

		<div class="calendar_title">
			<span class="big"><%= @start_date.strftime('%B %e') %> - <%= @end_date.strftime('%e') %></span>
		</div>
		<div id="edit_plan">Edit</div>
		<div id="next_prev_wrap">
			<%= link_to week_plan_path(@start_date - 7.days), :class => 'filter rounded_left', :remote => true do %>
				<div class="prev"></div>
			<% end %>
			<%= link_to 'Today', week_plan_path(Date.today()), :class => 'filter', :remote => true %>
			<%= link_to week_plan_path(@start_date + 7.days), :class => 'filter rounded_right', :remote => true do %>
				<div class="next"></div>
			<% end %>
		</div>
		<div id="calendar_controls">
			<%= link_to 'Capture', week_capture_path(@start_date), :id => 'week_capture', :class => 'filter rounded_left', :remote => true %>
			<%= link_to 'Plan', week_plan_path(@start_date), :id => 'week_plan', :class => 'filter active', :remote => true %>
			<%= link_to 'Forecast', week_forecast_path(@start_date), :id => 'week_forecast', :class => 'filter rounded_right', :remote => true %>
		</div>
		<div class="ribbon"></div>

<% end %>

<% content_for :page do %>
<div id="group">
	<%= render '/day/load_plan' %>
</div>
<% end %>

<%= render '/home/pad' %>
