
<% content_for :top do %>

    <div class="cover"><%= image_tag current_user.images.forward.first.image.thumb if current_user.images.first %></div>
    <div class="title"><%= current_user.name %></div>
    <div id="calendar_controls">
      <%= link_to 'Plan', root_path, :id => 'my_life', :class => 'filter rounded_left', :remote => true %>
      <%= link_to 'Latest Notifications', notice_panel_path, :id => 'notice_panel', :class => 'filter rounded_right active', :remote => true %>
    </div>
    <div class="ribbon"></div>

<% end %>

<% content_for :page do %>
  <div id="group">
    <div id="notices_panel">

    <% @notices.each do |n| %>
      <div class="notice">
        <span class="icon <%= n.type %>"></span>
        <span class="title"><%= notice_title(n.type, n.subject, n.target) %></span>
        <span class="time"><%= time_ago_or_time_stamp(n.created_at) %></span>
      </div>
    <% end %>

    </div>
  </div>
<% end %>

<%= render '/home/pad' %>
