
<% content_for :top do %>

    <a class="gravatar_cover pad_controls" href="http://gravatar.com" target="_blank">
      <div class="filter gravatar">
        <%= image_tag current_user.gravatar_src %>
      </div>
      <div class="filter rounded_right">
        <p class="title">Click to Change at Gravatar.com</p>
        <p class="subtitle">We're using <%= current_user.email %></p>
      </div>
    </a>
    <div class="cover"><%= image_tag current_user.gravatar_src %></div>
    <div class="title"><%= current_user.name %></div>
    <div class="filters_wrap">
      <%= link_to 'Vision', root_path, :id => 'my_life', :class => 'filter rounded_left', :remote => true %>
      <%= link_to 'Latest Notifications', notice_panel_path, :id => 'notice_panel', :class => 'filter rounded_right active', :remote => true %>
    </div>
    <div class="ribbon"></div>

<% end %>

<% content_for :page do %>
  <div id="group">
    <h2>Latest Notifications</h2>

    <div id="notices_panel">
      <%= render :partial => 'notice', :collection => @notices %>
    </div>

  </div>
<% end %>

<%= render '/home/pad' %>
