<li id="<%= task.id %>" class="task_wrap sortable <%= 'complete' if task.complete == true %>">
	
	<div class="outcome_wrap">
		<span class="checkbox <%= 'active' if task.complete == true %>"></span>
		<span class="target <%= 'active' if task.outcome == true %>"></span>
		<span class="star <%= 'active' if task.must == true %>"></span>
		<span class="delete"></span>
		<span class="email" href="/email/email_form/<%= task.id.to_s %>"></span>
		<span class="note" href="/task/edit_notes/<%= task.id.to_s %>"></span>
		<span class="calendar" rel="/task/edit_calendar/<%= task.id.to_s %>"></span>
		<span class="edit"></span>
		<span class="edit_done"></span>
		<span class="date">
			<%= schedule_date(task.starts_at) if task.starts_at %>
		</span>
		<span class="duration">
			<%= min_duration(task.min_duration) if task.min_duration %>
			<%= max_duration(task.max_duration) if task.max_duration %>
		</span>
		<span class="task drag result">
			<%= task.task %>
		</span>
		<form class="edit_task no_disp" method="post" action="tits">
			<input type="text" value="<%= task.task %>" class="edit_task_text">
		</form>
	</div>
	<div class="purpose_wrap">
		<%= render :partial => '/tasks/task_purpose', :locals => { :task => task } %>
	</div>
	<div class="header">
		<span class="target outcome"></span>
		<div class="action_title">Massive Action Plan</div>
		<div class="outcome_title">Outcome / Result</div>
		<div class="purpose_title">Purpose</div>
	</div>
	<div class="actions_wrap">
		<ul id="<%= task.id %>_incomplete" class="action_plan in_outcome sortable"> 
			<% @group.tasks.where(parent_id: task.id).and(complete: false).order_by([:sort, :asc]).each_with_index do |task| %>
				<li id="<%= task.id %>" class="task_wrap sortable <%= 'complete' if task.complete == true %>">
	
					<div class="outcome_wrap">
						<span class="checkbox <%= 'active' if task.complete == true %>"></span>
						<span class="target <%= 'active' if task.outcome == true %>"></span>
						<span class="star <%= 'active' if task.must == true %>"></span>
						<span class="date">
							<%= schedule_date(task.starts_at) if task.starts_at %>
						</span>
						<span class="duration">
							<%= min_duration(task.min_duration) if task.min_duration %>
							<%= max_duration(task.max_duration) if task.max_duration %>
						</span>
						<span class="delete no_disp"></span>
						<span class="edit no_disp"></span>
						<span class="edit_done no_disp"></span>
						<span class="task drag result">
							<%= task.task %>
						</span>
						<form class="edit_task no_disp" method="post">
							<input type="text" value="<%= task.task %>" class="edit_task_text">
						</form>
					</div>
		
					<div class="purpose_wrap"><%= task.purpose %></div>
					<div class="header">
						<span class="target outcome"></span>
						<div class="action_title">Massive Action Plan</div>
						<div class="outcome_title">Outcome / Result</div>
						<div class="purpose_title">Purpose</div>
					</div>
					<div class="actions_wrap">
						<ul id="<%= task.id %>_incomplete" class="action_plan sortable in_outcome"> 
							<% @group.tasks.where(parent_id: task.id).and(complete: false).order_by([:sort, :asc]).each_with_index do |task| %>
								<li id="<%= task.id %>" class="task_wrap sortable <%= 'complete' if task.complete == true %>">
									<div class="outcome_wrap">
										<span class="checkbox <%= 'active' if task.complete == true %>"></span>
										<span class="target <%= 'active' if task.outcome == true %>"></span>
										<span class="star <%= 'active' if task.must == true %>"></span>
										<span class="date">
											<%= schedule_date(task.starts_at) if task.starts_at %>
										</span>
										<span class="duration">
											<%= min_duration(task.min_duration) if task.min_duration %>
											<%= max_duration(task.max_duration) if task.max_duration %>
										</span>
										<span class="delete no_disp"></span>
										<span class="edit no_disp"></span>
										<span class="edit_done no_disp"></span>
										<span class="task drag result">
											<%= task.task %>
										</span>
										<form class="edit_task no_disp" method="post" action="tits">
											<input type="text" value="<%= task.task %>" class="edit_task_text">
										</form>
									</div>
								</li>
							<% end %>
						</ul> 
						<h3 class="outcome_complete <%= "no_disp" if @group.tasks.where(parent_id: task.id).and(complete: true).count == 0 %>"> Completed </h3>
						<ul id="<%= task.id %>_complete" class="in_outcome">
							<% @group.tasks.where(parent_id: task.id).and(complete: true).each_with_index do |task| %>
								<li id="<%= task.id %>" class="task_wrap complete">
									<div class="outcome_wrap">
										<span class="checkbox <%= 'active' if task.complete == true %>"></span>
										<span class="target <%= 'active' if task.outcome == true %>"></span>
										<span class="star <%= 'active' if task.must == true %>"></span>
										<span class="date">
											<%= schedule_date(task.starts_at) if task.starts_at %>
										</span>
										<span class="duration">
											<%= min_duration(task.min_duration) if task.min_duration %>
											<%= max_duration(task.max_duration) if task.max_duration %>
										</span>
										<span class="delete no_disp"></span>
										<span class="edit no_disp"></span>
										<span class="edit_done no_disp"></span>
										<span class="task drag result">
											<%= task.task %>
										</span>
										<form class="edit_task no_disp" method="post" action="tits">
											<input type="text" value="<%= task.task %>" class="edit_task_text">
										</form>
									</div>
								</li>
							<% end %>
						</ul>
					</div>
	
				</li>
			<% end %>
		</ul> 
		<h3 class="outcome_complete <%= "no_disp" if @group.tasks.where(parent_id: task.id).and(complete: true).count == 0 %>"> Completed </h3>
		<ul id="<%= task.id %>_complete" class="in_outcome">
			<% @group.tasks.where(parent_id: task.id).and(complete: true).each_with_index do |task| %>
				<li id="<%= task.id %>" class="task_wrap complete">
					<div class="outcome_wrap">
						<span class="checkbox <%= 'active' if task.complete == true %>"></span>
						<span class="target <%= 'active' if task.outcome == true %>"></span>
						<span class="star <%= 'active' if task.must == true %>"></span>
						<span class="date">
							<%= schedule_date(task.starts_at) if task.starts_at %>
						</span>
						<span class="duration">
							<%= min_duration(task.min_duration) if task.min_duration %>
							<%= max_duration(task.max_duration) if task.max_duration %>
						</span>
						<span class="delete no_disp"></span>
						<span class="edit no_disp"></span>
						<span class="edit_done no_disp"></span>
						<span class="task drag result">
							<%= task.task %>
						</span>
						<form class="edit_task no_disp" method="post" action="tits">
							<input type="text" value="<%= task.task %>" class="edit_task_text">
						</form>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</li> 