<li id="<%= task.id.to_s %>" sort_id="task_<%= task.id.to_s %>" <%= "outcome_sort_id='task_#{ task.id.to_s }'" if task.parent_id == nil && task.outcome == true %> class="task_wrap sortable <%= 'must' if task.must == true %> <%= 'outcome_ready' if task.outcome == true && task.parent_id == nil %> <%= 'committed' if task.committed == true %> <%= 'scheduled' if task.scheduled == true %> <%= 'complete' if task.complete == true %>" start="<%= task.start %>" min_duration="<%= task.min_duration %>" group_id="<%= task.group.id.to_s if task.group %>" max_duration="<%= task.max_duration %>">
	
	<div class="outcome_wrap">
		<span class="checkbox <%= 'active' if task.complete == true %>"></span>
		<% if task.parent_id == nil %>
			<span class="target <%= 'active' if task.outcome == true %>"></span>
		<% end %>
		<span class="star <%= 'active' if task.must == true %>"></span>
		<span class="icon" rel="/task/edit_group/<%= task.id.to_s %>">
		<% if task.group %>	
			<% if task.group.professional == true || task.group.personal == true %>
				<%= image_tag task.group.images.forward.first.image.tiny if task.group.images.forward.first %>
			<% else %>
				<%= image_tag asset_path('inbox.png') %>
			<% end %>
		<% end %>
		</span>
		<span class="delete"></span>
		<span class="email" href="/email/email_form/<%= task.id.to_s %>"></span>
		<span class="note" href="/task/edit_notes/<%= task.id.to_s %>"></span>
		<span class="calendar" rel="/task/edit_calendar/<%= task.id.to_s %>"></span>
		<span class="edit"></span>
		<span class="edit_done"></span>
		<span class="date">
			<%= schedule_date(task.start) if task.start %>
		</span>
		<span class="duration">
			<% if(task.outcome == false) %>
				<%= min_duration(task.min_duration) if task.min_duration %>
				<%= max_duration(task.max_duration) if task.max_duration > task.min_duration %>
			<% else %>
					<% min_must_duration = 0 %>
					<% min_duration = 0 %>
					<% max_duration = 0 %>
				<% task.group.tasks.where(parent_id: task.id).and(complete: false).each do |task| %>
						<% min_must_duration = task.min_duration + min_must_duration if task.must == true %>
						<% min_duration = task.min_duration + min_duration %>
						<% max_duration = (task.max_duration > task.min_duration) ? (task.max_duration + max_duration) : (task.min_duration + max_duration)  %>
				<% end %>
					<%= min_duration(min_duration) if min_duration > 0 %>
					<%= max_duration(max_duration) if max_duration > min_duration %>
			<% end %>
		</span>
		<span class="task drag result">
			<span class="edit_result"></span>
			<span class="edit_result_done"></span>
			<form class="edit_result_form">
				<input type="text" value="<%= task.title %>" class="edit_result_text">
			</form>
			<div class="result_text">
				<span class="task_number">
					<%= "#{task.sort.to_i}" if task.sort > 0 %>
				</span>
				<span class="task_title">
					<%= task.title %>
				</span>
				<% if(task.outcome == true) %>
					<div class="result_time">
						<%= "<span class='result_time_wrap'><span class='result_time_title'>Must</span> #{duration(min_must_duration)}</span>".html_safe if min_must_duration > 0 %>
						<%= "<span class='result_time_wrap'><span class='result_time_title'>Min</span> #{duration(min_duration)}</span>".html_safe if min_duration > 0 %>
						<%= "<span class='result_time_title'>Max</span> #{duration(max_duration)}".html_safe if max_duration > min_duration %>
					</div>
				<% end %>
			</div>
		</span>
		
		<form class="edit_task no_disp" method="post" action="#">
			<input type="text" value="<%= task.title %>" class="edit_task_text">
		</form>
	</div>
	<div class="purpose_wrap">
		<% if task.group %>
			<%= render :partial => '/tasks/task_purpose', :locals => { :task => task } %>
		<% end %>
	</div>
	<div class="header">
		<span class="target outcome"></span>
		<div class="action_title">MAP: Massive Action Plan</div>
		<div class="outcome_title">Result / Outcome</div>
		<div class="purpose_title">Purpose / Why</div>
	</div>
	<div class="actions_wrap">
		<% if task.group %>
			<% if action_plan == 'true' %>
				<ul id="<%= task.id %>_incomplete" class="action_plan in_outcome sortable"> 

					<% task.group.tasks.where(parent_id: task.id).and(complete: false).order_by([:sort, :asc]).each do |task| %>
				
						<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'false' } %>
				
					<% end %>
			
				</ul> 
		
				<ul id="<%= task.id %>_complete" class="in_outcome">
					<% task.group.tasks.where(parent_id: task.id).and(complete: true).each do |task| %>
						<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'false' } %>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</div>
</li> 