<div id="task_<%= task.id %>" class="task_wrap <%= 'complete' if task.complete == true %>">
			<div class="task_count_dark"> <%= index + 1 %> </div>
			<div class="task_drag">
				<%= link_to '', task_path(task, :task => { :must => false }), :method => :put, :class => 'must_on' if task.must == true %>
				<%= link_to '', task_path(task, :task => { :must => true }), :method => :put, :class => 'must_off' if task.must == false %>
				<%= link_to '', task_path(task, :task => { :complete => false, :sort => 0 }), :method => :put, :class => 'complete_on' if task.complete == true %>
				<%= link_to '', task_path(task, :task => { :complete => true, :sort => 99 }), :method => :put, :remote => true, :class => 'complete_off' if task.complete == false %>
				<%= editable_field task, :task, { :event => "dblclick", :onblur => "cancel", :width => "none", :height => "none" } %>
				<%= link_to '', block_create_path(task.id), :class => 'target' %>
				<%= link_to '', task_path(task), :method => :delete, :class => 'delete' %>
			</div>
			<% if task.complete == false %>
			<div class="tabs">
				<span class="leverage_tab" rel="/task/leverage/<%=task.id%>">
					<span class="leverage_img"></span> 
					<span class="text"> <%= task.leverage %> </span>
				</span>
				<span class="duration_tab" rel="/task/duration/<%=task.id%>">
					<span class="duration_img"></span> 
					<span class="text"> <%= "#{task.duration} min" if task.duration %> </span>
				</span>
				<span class="schedule_tab" tid="<%= task.id %>">
					<%= form_for(task, :html => {:class => 'schedule_form'}) do |f| %>
						<%= f.text_field :scheduled, :autocomplete => :off, :id => "task_scheduled_#{task.id}", :class => "hidden task_scheduled" %>
					<% end %>
					<span class="text"> <%= task.scheduled %> </span>
				</span>
			</div>
			<% end %>
		</div>