<li id="<%= task.id %>" class="task_wrap sortable <%= 'outcome_ready' if task.outcome == true %> <%= 'complete' if task.complete == true %>" start="<%= task.start %>" min_duration="<%= task.min_duration %>" group_id="<%= task.group.id.to_s %>" max_duration="<%= task.max_duration %>">
	
	<div class="outcome_wrap">
		<span class="checkbox <%= 'active' if task.complete == true %>"></span>
		<span class="target <%= 'active' if task.outcome == true %>"></span>
		<span class="star <%= 'active' if task.must == true %>"></span>
		<span class="icon" rel="/task/edit_group/<%= task.id.to_s %>">
			<%= task.group.images.forward.first ? ( image_tag task.group.images.forward.first.image.tiny ) : ( image_tag asset_path('inbox.png') ) %>
		</span>
		<span class="delete"></span>
		<span class="email" href="/email/email_form/<%= task.id.to_s %>"></span>
		<span class="note" href="/task/edit_notes/<%= task.id.to_s %>"></span>
		<span class="calendar" rel="/task/edit_calendar/<%= task.id.to_s %>"></span>
		<span class="edit"></span>
		<span class="edit_done"></span>
		<span class="date">
			<%= schedule_date(task.start) if task.start %>
		</span>
		<span class="duration">
			<%= min_duration(task.min_duration) if task.min_duration %>
			<%= max_duration(task.min_duration, task.max_duration) if task.max_duration && task.min_duration %>
		</span>
		<span class="task drag result">
			<%= task.title %>
		</span>
		<form class="edit_task no_disp" method="post" action="#">
			<input type="text" value="<%= task.title %>" class="edit_task_text">
		</form>
	</div>
	<div class="purpose_wrap">
		<%= render :partial => '/tasks/task_purpose', :locals => { :task => task } %>
	</div>
	<div class="result_wrap">
		<%= render :partial => '/tasks/task_result', :locals => { :task => task } %>
	</div>
	<div class="header">
		<span class="target outcome"></span>
		<div class="action_title">Massive Action Plan</div>
		<div class="outcome_title">Outcome / Result</div>
		<div class="purpose_title">Purpose</div>
	</div>
	<div class="actions_wrap">
		<ul id="<%= task.id %>_incomplete" class="action_plan in_outcome sortable"> 

			
			<% task.group.tasks.where(parent_id: task.id).and(complete: false).order_by([:sort, :asc]).each do |task| %>
				
				<%= render :partial => '/tasks/task', :locals => { :task => task } %>
				
			<% end %>
			
		</ul> 
		
		<ul id="<%= task.id %>_complete" class="in_outcome">
			<% task.group.tasks.where(parent_id: task.id).and(complete: true).each do |task| %>
				<%= render :partial => '/tasks/task', :locals => { :task => task } %>
			<% end %>
		</ul>
	</div>
</li> 