<div class="purposes">
	<span class="edit_purpose"></span>
	<span class="edit_purpose_done"></span>
	<form class="add_purpose">
		<input type="text" value="<%= strip_tags(task.purpose) %>" class="edit_purpose_text">
	</form>
	<div class="purpose">
		<% if task.purpose %>
			<%= task.purpose.html_safe %>
		<% else %>
			Why do you want this?
		<% end %>
	</div>
	

	
	<div class="purpose_group" rel="/task/edit_group/<%= task.id.to_s %>">
		<% if task.group.professional == true || task.group.personal == true %>
			<span class="img_wrap"><%= image_tag task.group.images.forward.first.image.tiny if task.group.images.forward.first %></span>
			<span class="title_wrap"><%= task.group.title %></span>
		<% else %>
			<span class="img_wrap" style="background: transparent; box-shadow: none;"><%= image_tag asset_path('inbox.png') %></span>
			<span class="title_wrap">Action List</span>
		<% end %>
	</div>
</div>