<div id="subtask_<%= subtask.id %>" class="task_wrap <%= 'complete' if subtask.complete == true %>">
			<div class="task_count_dark"> <%= index + 1 %> </div>
			<div class="task_drag">
				<%= link_to '', task_subtask_path(task, subtask), :method => :put, :class => 'must_on' if subtask.must == true %>
				<%= link_to '', task_subtask_path(task, subtask), :method => :put, :class => 'must_off' if subtask.must == false %>
				<%= link_to '', task_subtask_path(task, subtask), :method => :put, :class => 'complete_on' if subtask.complete == true %>
				<%= link_to '', task_subtask_path(task, subtask), :method => :put, :remote => true, :class => 'complete_off' if subtask.complete == false %>
				<%= subtask.text %>
				<%= link_to '', task_subtask_path(task, subtask), :method => :delete, :class => 'delete' %>
			</div>
			<% if subtask.complete == false %>
			<div class="tabs">
				<a class="leverage_tab" href="/email/email_form/<%=subtask.id%>">
					Leverage 
					<span class="text"> <%= subtask.leverage %> </span>
				</a>
				<span class="duration_tab" rel="/subtask/duration/<%=subtask.id%>">
					<span class="text">Min: <%= "#{subtask.min_duration}" if subtask.min_duration %> </span> /
					<span class="text">Max: <%= "#{subtask.max_duration}" if subtask.max_duration %> </span>
				</span>
				<span class="notes_tab" href="/subtask/edit_notes/<%=subtask.id%>">
					Notes
				</span>
			</div>
			<% end %>
		</div>