<li id="<%= task.id.to_s %>" parent_id="<%= task.parent_id.to_s %>" sort_id="task_<%= task.id.to_s %>" <%= "outcome_sort_id='task_#{ task.id.to_s }'" if task.parent_id == nil && task.outcome == true %> class="task_wrap sortable <%= 'must' if task.must == true %> <%= 'outcome_ready' if task.outcome == true && task.parent_id == nil %> <%= 'task_only' if task.outcome == false  %> <%= 'committed' if task.committed == true %> <%= 'scheduled' if task.scheduled == true %> <%= 'complete' if task.complete == true %>" start="<%= task.start %>" min_duration="<%= task.min_duration %>" group_id="<%= task.group.id.to_s if task.group %>" max_duration="<%= task.max_duration %>" sound="<%= current_user.sound %>">
	<div class="outcome_wrap">
		<span class="checkbox <%= 'active' if task.complete == true %>"></span>
		<% if task.parent_id == nil %>
			<span class="target <%= 'active' if task.outcome == true %>"></span>
		<% end %>
		<span class="star <%= 'active' if task.must == true %>"></span>
		<span class="delete"></span>
		<span class="edit"></span>
		<span class="edit_done"></span>
		<span class="date">
			<%= schedule_date(task.start) if task.start %>
		</span>

		<span class="task drag result">
			<div class="result_text">
				<span class="task_number">
					<%= "#{task.sort.to_i}" if task.sort > 0 %>
				</span>
				<span class="task_title">
					<%= task.title.html_safe %>
				</span>
			</div>
		</span>

		<form class="edit_task no_disp" method="post" action="#">
			<input type="text" value="<%= strip_tags(task.title) %>" class="edit_task_text">
		</form>
	</div>
	
	<div class="purpose_wrap">
		<% if task.group %>
			<%= render :partial => '/tasks/task_purpose', :locals => { :task => task } %>
		<% end %>
	</div>
	
	<div class="actions_wrap">
		<% if task.group %>
			<% if action_plan == 'true' %>
				<ul id="<%= task.id %>_incomplete" class="action_plan in_outcome sortable">
					<% task.group.tasks.where(parent_id: task.id).and(complete: false).order_by([:sort, :asc]).each do |task| %>
						<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'false' } %>
					<% end %>
				</ul>
				<ul id="<%= task.id %>_complete" class="in_outcome">
					<% task.group.tasks.where(parent_id: task.id).and(complete: true).each do |task| %>
						<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'false' } %>
					<% end %>
				</ul>
			<% end %>
		<% end %>
	</div>
	
</li>
