<h3>Set Duration</h3>


<%= form_for(@task) do |f| %>

<div id="min_duration">
	<a class="set_duration_min" tid="<%= @task.id %>" dur="5">5 minutes</a> <br>
	<a class="set_duration_min" tid="<%= @task.id %>" dur="10">10 minutes</a> <br>
	<a class="set_duration_min" tid="<%= @task.id %>" dur="30">30 minutes</a> <br>
	<a class="set_duration_min" tid="<%= @task.id %>" dur="45">45 minutes</a> <br>
	<a class="set_duration_min" tid="<%= @task.id %>" dur="60">1 hour</a> <br>
	<%= f.text_field :min_duration, :autocomplete => :off, :class => "min_duration_input", :id => "task_duration_#{@task.id}" %>
</div>
<div id="max_duration">
	<a class="set_duration_max" tid="<%= @task.id %>" dur="5">10 minutes</a> <br>
	<a class="set_duration_max" tid="<%= @task.id %>" dur="30">30 minutes</a> <br>
	<a class="set_duration_max" tid="<%= @task.id %>" dur="45">45 minutes</a> <br>
	<a class="set_duration_max" tid="<%= @task.id %>" dur="60">1 hour</a> <br>
	<%= f.text_field :max_duration, :autocomplete => :off, :class => "max_duration_input", :id => "task_duration_#{@task.id}" %>
</div>

<%= f.submit %>
<% end %>