<ul id="group_select" class="cluetip" taskId="<%= @task.id.to_s %>">
	
	<li id="<%= @inbox.id.to_s %>" class="<%= 'active' if @inbox.id == @task.group.id %> inbox">
			<span class="img_wrap">
				<%=  image_tag asset_path('inbox.png') %>
			</span>
			<span class="title">
				Inbox
			</span>
	</li>
	
	<% @groups.each do |group| %>
		<li id="<%= group.id.to_s %>" class="<%= 'active' if group.id == @task.group.id %>">
			<span class="img_wrap">
				<%= cat_icon group %>
			</span>
			<span class="title">
				<%= group.title %>
			</span>
		</li>
	<% end %>
	
</ul>