<ul id="group_select" class="cluetip" taskId="<%= @task.id.to_s %>">
	<% @groups.each do |group| %>
		<li id="<%= group.id.to_s %>" class="<%= 'active' if group.id == @task.group.id %>">
			<%= group.images.forward.first ? ( image_tag group.images.forward.first.image.tiny ) : ( image_tag asset_path('inbox.png') ) %>
			<%= group.title %>
		</li>
	<% end %>
</ul>