<li id="<%= task.id %>" class="task_wrap sortable <%= 'outcome' if task.outcome == true %> <%= 'complete' if task.complete == true %>">
		<div class="header no_disp">
			<div class="action_title">Massive Action Plan</div>
			<div class="outcome_title">Result / Outcome</div>
			<div class="purpose_title">Purpose</div>
		</div>
		<div class="body no_disp">
			<div class="actions_wrap">
				<ul class="action_plan connectedSortable">
					<li class="task_wrap">
						<span class="checkbox"></span>
						<span class="star"></span>
						<span class="delete no_disp"></span>
						<span class="edit no_disp"></span>
						<span class="edit_done no_disp"></span>
						<span class="task drag">asdfasdfa</span>
					</li>
					<li class="task_wrap">
						<span class="checkbox"></span>
						<span class="star"></span>
						<span class="delete no_disp"></span>
						<span class="edit no_disp"></span>
						<span class="edit_done no_disp"></span>
						<span class="task drag">asdfasdfa</span>
					</li>
					<li class="task_wrap">
						<span class="checkbox"></span>
						<span class="star"></span>
						<span class="delete no_disp"></span>
						<span class="edit no_disp"></span>
						<span class="edit_done no_disp"></span>
						<span class="task drag">asdfasdfa</span>
					</li>
				</ul>
			</div>
			<div class="outcome_wrap">
				<%= task.task %>
			</div>
			<div class="purpose_wrap">
				<%= task.purpose %>
			</div>
		</div>
		
		<span class="checkbox <%= 'active' if task.complete == true %>"></span>
		<span class="target <%= 'active' if task.outcome == true %>"></span>
		<span class="star <%= 'active' if task.must == true %>"></span>
		<span class="date"><%= schedule_date(task.starts_at) if task.starts_at %></span>
		<span class="duration">
			<%= min_duration(task.min_duration) if task.min_duration %>
			<%= max_duration(task.max_duration) if task.max_duration %>
		</span>
		<span class="delete no_disp"></span>
		<span class="edit no_disp"></span>
		<span class="edit_done no_disp"></span>
		
		<span class="task drag result"><%= task.task %></span>
		
		<form class="edit_task no_disp" method="post" action="tits">
			<input type="text" value="<%= task.task %>" class="edit_task_text">
		</form>
</li>		