<div id="block_<%= block.id %>" class="block_collapsed_wrap">
	<%= link_to '', block_path(block, :block => { :collapsed => false }), :method => :put, :class => 'target_on' %>
	<%= link_to '', block_path(block), :method => :delete, :class => 'delete', :confirm => 'Are you sure?' %>
	
	<%= link_to '', block_path(block, :block => { :complete => false }), :method => :put, :class => 'complete_on' if block.complete == true %>
	<%= link_to '', block_path(block, :block => { :complete => true }), :method => :put, :remote => true, :class => 'complete_off' if block.complete == false %>
	
	<span class="outcome_wrap">
		<%= block.outcome %>
	</span>
</div>