<div id="<%= category.id.to_s %>" class="category <%= 'active' if active == true %>" group_id="group_<%= category.id.to_s %>">

	<%= link_to group_path(category.id.to_s), :class => 'clickable', :remote => true do %>
		<span class="cover"><%= cat_icon category %></span>
		<span class="title"><%= category.title %></span>
		<span class="count"><span class="inner_shadow"></span><span class="count_text"><%= category.tasks.incomplete.count %></span></span>
		<span class="edit"></span>
	<% end %>

	<span class="form">
		<%= form_for(category, :remote => true) do |f| %>

			<span class="delete"></span>
			<span class="edit_done"></span>

			<span class="cover">
				<%= link_to edit_group_icon_path(category) do %>
					<%= cat_icon category %>
				<% end %>
				<input type="hidden" name="cover">
			</span>
			<%= f.text_field :title, :autocomplete => :off, :value => category.title %>
		<% end %>
	</span>

</div>