<% content_for :top do %>
		<% if @group.personal == true || @group.professional == true %>
			<div class="cover"><%= image_tag @group.top_image_src if @group.images.first %></div>
			<div class="title"><%= raw @group.title %></div>
			<div class="filters_wrap">
				<a id="plan" class="filter rounded_left active">Plan</a>
				<a id="vision" class="filter rounded_right">Vision</a>
			</div>
		<% else %>
			<div class="cover_inbox"></div>
			<div class="title">Action List</div>
		<% end %>
		<div class="ribbon"></div>
<% end %>

<% content_for :page do %>
	<div id="group">
		<div id="plan_wrap">
			<div id="input_wrap">
				<span class="inner_shadow"></span>
				<%= form_for(Task.new, :remote => true) do |f| %>
					<%= f.text_field :title, :autocomplete => :off, :value => "New Action...", :onfocus => '(this.value == "New Action...") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "New Action..." : this.value' %>
					<%= f.hidden_field :group_id, :value => group.id %>
				<% end %>
			</div>

			<ul id="incomplete" class="sortable incomplete_task_list">
			<% @group.tasks.incomplete.each_with_index do |task, index| %>
					<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'true', :index => index } %>
			<% end %>
			</ul>
			<h3 class="page <%= "no_disp" if @group.tasks.complete.count == 0 %>">Completed</h3>
			<ul id="complete">
				<% @group.tasks.complete.each_with_index do |task, index| %>
					<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'true', :index => index } %>
				<% end %>
			</ul>	
		</div>
		<div id="vision_wrap" class="no_disp">
			<%= render :partial => 'vision', :locals => { :group => @group } %>
		</div>
	</div>
<% end %>

<%= render '/home/pad' %>