<div class="section <%= 'editing' if group.vision.blank? %>">
	<span class="text"><%= group.vision %></span>
	<span class="edit"></span>
	<span class="edit_done"></span>
	<span class="vision_form">
		<%= form_for group, :remote => true do |f| %>
			<%= f.text_field :vision, :value => "What is your ultimate result / vision for this?", :onfocus => '(this.value == "What is your ultimate result / vision for this?") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "What is your ultimate result / vision for this?" : this.value' %>
		<% end %>
	</span>
</div>


<div class="section <%= 'editing' if group.purpose.blank? %>">
	<div class="text"><%= group.purpose %></div>
	<span class="edit"></span>
	<span class="edit_done"></span>
	<span class="purpose_form">
		<%= form_for group, :remote => true do |f| %>
			<%= f.text_field :purpose, :value => "What is your driving force behind this?", :onfocus => '(this.value == "What is your driving force behind this?") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "What is your driving force behind this?" : this.value' %>
			<% end %>
	</span>
</div>

<div class="goals_section">
	<%= render :partial => 'home/vision_group', :collection => group.vision_groups.asc(:idx), :locals => { :parent => group} %>
</div>

<div id="vision_images">
	<% group.images.forward.each do |image| %>
		<%= render :partial => '/images/image', :locals => { :image => image, :group => group } %>
	<% end %>
	<div id="uploadify_wrap">
		<div id="queue"></div>
		<div id="upload" class="image_wrap"></div>
		<%= uploadify_user if group.id.to_s == current_user.id.to_s %>
		<%= uploadify_group if group.id.to_s != current_user.id.to_s %>
	</div>
</div>
