<div class="section <%= 'editing' if group.vision.blank? %>">

	<span class="text"><%= group.vision %></span>
	<span class="edit"></span>
	<span class="edit_done"></span>
	<span class="vision_form">
		<%= form_for group, :remote => true do |f| %>
			<%= f.text_area :vision, :value => group.vision || "What do you want?", :onfocus => '(this.value == "What do you want?") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "What do you want?" : this.value' %>
		<% end %>
	</span>
</div>


<div class="section <%= 'editing' if group.purpose.blank? %>">

	<div class="text"><%= group.purpose %></div>
	<span class="edit"></span>
	<span class="edit_done"></span>
	<span class="purpose_form">
		<%= form_for group, :remote => true do |f| %>
			<%= f.text_area :purpose, :value => group.purpose || "Why do you want it?", :onfocus => '(this.value == "Why do you want it?") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "Why do you want it?" : this.value' %>
			<% end %>
	</span>
</div>

<div id="goals_section">
	<%= render :partial => 'home/vision_group', :collection => group.vision_groups.asc(:idx), :locals => { :parent => group} %>
</div>

<div id="vision_gallery">
	<% group.images.forward.each do |image| %>
		<%= image_tag image.image, :class => 'vision_image', :'data-id' => image.id %>
	<% end %>

	<% if group.images.forward.count == 0 %>
		<%= image_tag 'default_gallery_pic.jpg', :alt => 'Add pictures below to create your own personal gallery.', :title => '' %>
	<% end %>
</div>
<div class="jui-2">
	<div id="vision_image_scrollbar"></div>
</div>

<div class="add_buttons">
	<div id="uploadify_wrap">
		<div id="queue"></div>
		<div id="upload" class="image_wrap"></div>

		<%= link_to new_group_vision_group_path(group), :id => 'create_v_group', :remote => true do %>
		<span></span>
		<% end %>

		<%= uploadify_group(group) %>

	</div>
	<div class="loader hidden">
		<h2>Uploading Images...</h2>
	</div>
</div>


<script type="text/javascript">
	$.extend(_uploadifyOptions, {
		multi: false,
		onOpen: function () {
			$('#vision_wrap .add_buttons').addClass('loading');
		}
	});
  $('#upload').uploadify(_uploadifyOptions);

	$('#goals_section').sortable({
		items: '.vision_group',
		handle: '.handle',
		helper: 'clone',

		stop: function (event,ui) {
			var idxHash = {};
			$('#goals_section > *').each(function (idx, elem) {
				idxHash[ $(elem).data('id') ] = idx;
			});
			$.ajax({
				url: paths.visionGroupsSort(),
				type: 'POST',
				data: { order:idxHash }
			});
		}
	});

  $('#vision_gallery').galleria({
    height: $('#vision_wrap').width() / 1.3,
    extend: TM.Gallery.extension("<%= group.is_a?(User) ? 'user' : 'group' %>", "<%= group.id %>")
  });
</script>
