

<div class="section <%= 'editing' if group.vision.blank? %>">
	<span class="text"><%= group.vision %></span>
	<span class="edit"></span>
	<span class="edit_done"></span>
	<span class="vision_form">
		<%= form_for group, :remote => true do |f| %>
			<%= f.text_field :vision %>
		<% end %>
	</span>
</div>


<div class="section <%= 'editing' if group.vision.blank? %>">
	<div class="text"><%= group.purpose %></div>
	<span class="edit"></span>
	<span class="edit_done"></span>
	<span class="purpose_form">
		<%= form_for group, :remote => true do |f| %>
			<%= f.text_field :purpose %>
			<% end %>
	</span>
</div>

<div class="goals_section">
	<div class="quarter_goals">
		<div class="title_wrap">
			<span class="title journal">90 Day Results</span>
			<span class="add_goal" rel="quarter_goals_form">Add Result</span>
		</div>
		<div class="goals_wrap">
			<div class="form_wrap no_disp" id="quarter_goals_form">
				<%= form_for([group, Goal.new], :remote => true) do |f| %>
					<%= f.text_field :text %>
					<%= f.hidden_field :range, :value => '90' %>
					<% end %>
			</div>
		
			<% group.goals.where(range: '90').each_with_index do |goal, index| %>
				<div class="goal">
					<span class="count journal"><%= index + 1 %></span> 
					<span class="text"><%= goal.text %></span>
					<%= link_to '', [group, goal], :class => 'delete', :method => :delete, :remote => :true %>
				</div>
			<% end %>
		</div>
	</div>
	
	<div class="year_goals">
		<div class="title_wrap">
			<span class="title journal">One Year Results</span>
			<span class="add_goal" rel="year_goals_form">Add Result</span>
		</div>
		<div class="goals_wrap">
			<div class="form_wrap no_disp" id="year_goals_form">
				<%= form_for([group, Goal.new], :remote => true) do |f| %>
					<%= f.text_field :text %>
					<%= f.hidden_field :range, :value => '365' %>
				<% end %>
			</div>
			<% group.goals.where(range: '365').each_with_index do |goal, index| %>
				<div class="goal">
					<span class="count journal"><%= index + 1 %></span> 
					<span class="text"><%= goal.text %></span>
					<%= link_to '', [group, goal], :class => 'delete', :method => :delete, :remote => :true %>
				</div>
				<% end %>
		</div>
	</div>
</div>

<div id="vision_images">
	<% group.images.forward.each do |image| %>
		<%= render :partial => '/images/image', :locals => { :image => image, :group => group } %>
	<% end %>
	<div id="uploadify_wrap">
		<div id="queue"></div>
		<div id="upload" class="image_wrap"></div>

	</div>
</div>
