<div style="color:#FFF;">
	<h1><%= @group.title %> </h1>
	<%= image_tag @group.image.thumb.url %>
	<br>
	<%= link_to 'Short Term planning', group_path(@group) %>
	<br>
	<%= form_for @group do |f| %>
		<%= f.file_field :image %>
		<%= f.hidden_field :image_cache %>
		<%= f.submit %>
	<% end %>
	<br><br>

	<h2>30 day Goals</h2>
	<div class="goals_wrap">
		<% @group.goals.where(range: '30').each_with_index do |goal, index| %>
		<div class="goal">
			<%= index + 1 %> <%= goal.text %>
		</div>
		<% end %>
	</div>
	<%= form_for([@group, Goal.new]) do |f| %>
			<%= f.text_field :text %>
			<%= f.hidden_field :range, :value => '30' %>
	<% end %>
	<br><br>
	<h2>90 day Goals</h2>
		<div class="goals_wrap">
	<% @group.goals.where(range: '90').each_with_index do |goal, index| %>
		<div class="goal">
		<%= index + 1 %> <%= goal.text %>
	</div>

	<% end %>
			</div>
	<%= form_for([@group, Goal.new]) do |f| %>
			<%= f.text_field :text %>
			<%= f.hidden_field :range, :value => '90' %>
	<% end %>
	<br><br>
	<h2>Yearly Goals</h2>
		<div class="goals_wrap">
	<% @group.goals.where(range: '365').each_with_index do |goal, index| %>
		<div class="goal">
		<%= index + 1 %> <%= goal.text %>
	</div>
	<% end %>
		</div>
	<%= form_for([@group, Goal.new]) do |f| %>
			<%= f.text_field :text %>
			<%= f.hidden_field :range, :value => '365' %>
	<% end %>
</div>