
<h1> <%= @group.title %> </h1>


<%= render :partial => '/tasks/form', :locals => {:group => @group} %>
<%= render :partial => 'sub_nav', :locals => {:groups => @groups} %>
<%= render :partial => '/tasks/tasks', :locals => {:tasks => @tasks} %>
<div class="poof"></div> 

<br><br>

<div id="blocks-list">
	<% @blocks.each do |block| %>
		<div id="block_<%= block.id %>" class="block_wrap">
			<div class="block_drag">
				<div class="block_title">
					<%= link_to '', block_path(block), :method => :delete, :class => 'delete' %>
					<h2 class="block_title_tasks">Massive Action Plan</h2>
					<h2 class="block_title_outcome">Result / Outcome</h2>
					<h2 class="block_title_purpose">Purpose</h2>
				</div>
				<div class="block_body">
					<div class="tasks"> 
						<div class="task_padding">
						<% block.tasks.order_by([:sort, :asc]).each_with_index do |task, index| %>
							<div id="task_<%= task.id %>" class="task_wrap">
								<div class="task_count_dark"> <%= index + 1 %> </div>
								<div class="task_drag">
									<%= link_to '', task_path(task, :task => { :must => false }), :method => :put, :class => 'must_on' if task.must == true %>
									<%= link_to '', task_path(task, :task => { :must => true }), :method => :put, :class => 'must_off' if task.must == false %>
									<%= link_to '', task_path(task, :task => { :complete => false }), :method => :put, :class => 'complete_on' if task.complete == true %>
									<%= link_to '', task_path(task, :task => { :complete => true }), :method => :put, :class => 'complete_off' if task.complete == false %>
									<%= editable_field task, :task, { :event => "dblclick", :onblur => "cancel", :width => "none", :height => "none" } %>
									<%= link_to '', task_path(task), :method => :delete, :class => 'delete' %>
								</div>
								<div class="tabs">
									<span class="leverage_tab" rel="/task/leverage/<%=task.id%>">
										<span class="leverage_img"></span> 
										<span class="text"> <%= task.leverage %> </span>
									</span>
									<span class="duration_tab" rel="/task/duration/<%=task.id%>">
										<span class="duration_img"></span> 
										<span class="text"> <%= "#{task.duration} min" if task.duration %> </span>
									</span>
									<span class="schedule_tab" tid="<%= task.id %>">
										<%= form_for(task, :html => {:class => 'schedule_form'}) do |f| %>
											<%= f.text_field :scheduled, :autocomplete => :off, :id => "task_scheduled_#{task.id}", :class => "hidden task_scheduled" %>
										<% end %>
										<span class="text"> <%= task.scheduled %> </span>
									</span>
								</div>
							</div>
						<% end %>
						<%= form_for(Task.new) do |f| %>
								<%= f.text_field :task, :autocomplete => :off, :id => "task_task_#{block.id}", :value => "New task...", :onfocus => '(this.value == "New task...") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "New task..." : this.value' %>
								<%= f.hidden_field :block_id, :value => block.id %>
								<%= f.hidden_field :group_id, :value => @group.id %>
								<%= f.hidden_field :sort, :value => '99' %>
						<% end %>
						</div>
					</div>
					<div class="outcome"> 
						<div class="outcome_padding">
							<%= editable_field block, :outcome, { :event => "dblclick", :onblur => "cancel", :width => "none", :height => "none"} %>
						</div>
					</div>
					<div class="purpose"> 
						<div class="purpose_padding">
						<%= editable_field block, :purpose, { :event => "dblclick", :onblur => "cancel", :width => "none", :height => "none" } %>
						</div>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>

	$('#tasks-list a.complete_off').click(function(e) { 
        
				var xOffset = 24 + 285; 
        var yOffset = 24; 
  
        $(this).parent().parent().fadeOut(300, function() { $(this).remove(); });
  
        $('.poof').css({ 
            left: e.pageX - xOffset + 'px', 
            top: e.pageY - yOffset + 'px' 
        }).show(); 
  
        animatePoof();
    }); 

	function animatePoof() { 
	    var bgTop = 0; 
	    var frames = 5; 
	    var frameSize = 32; 
	    var frameRate = 80; 
  
	    for(i = 1; i < frames; i ++) { 
	        $('.poof').animate({ 
	            backgroundPosition: '0 ' + (bgTop - frameSize) + 'px' 
	        }, frameRate); 
  
	        bgTop -= frameSize; 
	    } 
  
	    setTimeout("$('.poof').hide()", frames * frameRate); 
	}

		$(".group").droppable({
			tolerance: 'pointer',
			drop: function(event, ui) {
				if(ui.draggable.attr("id").indexOf("task") != -1) {
					ui.draggable.hide();
					var group_id = this.id.split('_')[1];
					var item_id = ui.draggable.attr("id").split('_')[1];
					$.ajax({
	                type: 'post', 
	                data: {task: {group_id: group_id}}, 
	                dataType: 'script', 
	                complete: function(request){ },
	                url: "/task/update/"+item_id})
	       } else if (ui.draggable.attr("id").indexOf("block") != -1) {
						ui.draggable.hide();
						var group_id = this.id.split('_')[1];
						var block_id = ui.draggable.attr("id").split('_')[1];
						$.ajax({
		                type: 'post', 
		                data: {block: {group_id: group_id}}, 
		                dataType: 'script', 
		                complete: function(request){ },
		                url: "/block/update/"+block_id})
					 }
			}
		});

	
     $('#tasks-list').sortable(
        {
          dropOnEmpty: false, 
          handle: '.task_drag', 
          items: '.task_wrap',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $(this).sortable('serialize')+'&group_id='+$(this).attr('gid'), 
                dataType: 'script', 
                complete: function(request){ 
									$('#tasks-list').children().each(function(index, div){
										$("#"+div.id+ " .task_count").html(index + 1);
									});
								},
                url: '/tasks/sort_tasks'})
            }
         });

     $('#blocks-list').sortable(
        {
          dropOnEmpty: false, 
          handle: '.block_drag', 
          items: '.block_wrap',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $(this).sortable('serialize'), 
                dataType: 'script', 
                complete: function(request){ },
                url: '/blocks/sort_blocks'})
            }
         });

     $('.task_padding').sortable(
        {
          dropOnEmpty: false, 
          handle: '.task_drag', 
          items: '.task_wrap',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $(this).sortable('serialize'), 
                dataType: 'script', 
                complete: function(request){
										$('.task_padding').children().each(function(index, div){
										$("#"+div.id+ " .task_count_dark").html(index + 1);
									});
								},
                url: '/tasks/sort_tasks'})
            }
         });
    <% end %>
<% end %>