
<h1 id="plan_title"> <%= @group.title %> </h1>


<%= render :partial => '/tasks/form', :locals => {:group => @group} %>
<%= render :partial => 'sub_nav', :locals => {:groups => @groups} %>
<%= render :partial => '/tasks/tasks', :locals => {:tasks => @tasks} %>
<div class="poof" style="background-position: 0 0"></div> 

<br><br>

<div id="blocks-list">
	<% @blocks.each do |block| %>
		<% if block.collapsed == false %>
			<%= render :partial => 'block', :locals => { :block => block } %>
		<% else %>
			<%= render :partial => 'block_collapsed', :locals => { :block => block } %>
		<% end %>
	<% end %>
</div>

<% content_for :javascript do %>
  <%= javascript_tag do %>

		$(".group").droppable({
			tolerance: 'pointer',
			drop: function(event, ui) {
				if(ui.draggable.attr("id").indexOf("task") != -1) {
					ui.draggable.hide();
					var group_id = this.id.split('_')[1];
					var item_id = ui.draggable.attr("id").split('_')[1];
					$.ajax({
	                type: 'post', 
	                data: {task: {group_id: group_id}}, 
	                dataType: 'script', 
	                complete: function(request){ },
	                url: "/task/update/"+item_id})
	       } else if (ui.draggable.attr("id").indexOf("block") != -1) {
						ui.draggable.hide();
						var group_id = this.id.split('_')[1];
						var block_id = ui.draggable.attr("id").split('_')[1];
						$.ajax({
		                type: 'post', 
		                data: {block: {group_id: group_id}}, 
		                dataType: 'script', 
		                complete: function(request){ },
		                url: "/block/update/"+block_id})
					 }
			}
		});

	
     $('#tasks-list').sortable(
        {
          dropOnEmpty: false, 
          handle: '.task_drag', 
          items: '.task_wrap',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $(this).sortable('serialize')+'&group_id='+$(this).attr('gid'), 
                dataType: 'script', 
                complete: function(request){ 
									$('#tasks-list').children().each(function(index, div){
										$("#"+div.id+ " .task_count").html(index + 1);
									});
								},
                url: '/tasks/sort_tasks'})
            }
         });

     $('#blocks-list').sortable(
        {
          dropOnEmpty: false, 
          handle: '.block_drag', 
          items: '.block_wrap',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $(this).sortable('serialize'), 
                dataType: 'script', 
                complete: function(request){ },
                url: '/blocks/sort_blocks'})
            }
         });

     $('.task_padding').sortable(
        {
          dropOnEmpty: false, 
          handle: '.task_drag', 
          items: '.task_wrap',
          opacity: 0.4,
          scroll: true,
          update: function(){
            $.ajax({
                type: 'post', 
                data: $(this).sortable('serialize'), 
                dataType: 'script', 
                complete: function(request){
										$('.task_padding').children().each(function(index, div){
										$("#"+div.id+ " .task_count_dark").html(index + 1);
									});
								},
                url: '/tasks/sort_tasks'})
            }
         });
    <% end %>
<% end %>