
<h1 id="plan_title"> <%= @group.title %> </h1>


<%= render :partial => '/tasks/form', :locals => {:group => @group} %>
<%= render :partial => 'sub_nav', :locals => {:groups => @groups} %>

<ol id="tasks-list" class="task_list sortable">
	<% @tasks.each_with_index do |task, index| %>
		<% if task.outcome == false %>
			<%= render :partial => '/tasks/task', :locals => { :task => task, :index => index } %>
		<% else %>
			<%= render :partial => '/groups/block', :locals => { :task => task, :index => index } %>
		<% end %>
	<% end %>
</ol>

<div class="poof" style="background-position: 0 0"></div> 

<br><br>