<div style="color:#FFF;">


	<br><br>
	<h2>Personal Group</h2>
	<% @personal_groups.each do |group| %>
	<div>
	<%= group.title %> <%= link_to 'short_term', group_path(group) %> / <%= link_to 'long_term', group_long_term_path(group) %>
	</div>
	<% end %>
	<%= form_for(Group.new, :html => { :class => "asd" }) do |f| %>
		<%= f.text_field :title, :id => 'asdf', :autocomplete => :off, :value => "New group...", :onfocus => '(this.value == "New group...") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "New group..." : this.value' %>
		<%= f.hidden_field :master_title, :value => 'Personal' %>
	<% end %>
			
	<br><br>
	<h2>Professional Group</h2>
	<% @professional_groups.each do |group| %>
	<div>
		<%= group.title %> <%= link_to 'short_term', group_path(group) %> / <%= link_to 'long_term', group_long_term_path(group) %>
	</div>
	<% end %>
	<%= form_for(Group.new, :html => { :class => "asdf" }) do |f| %>
		<%= f.text_field :title, :id => 'asdf', :autocomplete => :off, :value => "New group...", :onfocus => '(this.value == "New group...") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "New group..." : this.value' %>
		<%= f.hidden_field :master_title, :value => 'Professional' %>
	<% end %>
</div>