
		<div class="account_wrap">
			<div class="img">
				<%= image_tag current_user.gravatar_src(:size => 18) %>
			</div>
			<div class="name">
				<%= current_user.name %>
			</div>
			<div class="account_popup">
				<%= link_to('My Life', root_path) %>
				<%= link_to('Edit Account', edit_user_registration_path, :id => 'edit_account') %>
				<a href="mailto:feedback@growthtap.com">Feedback</a>
				<%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
			</div>
		</div>

