<% content_for :top do %>
    <a class="gravatar_cover pad_controls" href="http://gravatar.com" target="_blank">
      <div class="filter gravatar">
        <%= image_tag current_user.gravatar_src %>
      </div>
      <div class="filter rounded_right">
        <p class="title">Click to Change at Gravatar.com</p>
        <p class="subtitle">We're using <%= current_user.email %></p>
      </div>
    </a>
		<div class="cover"><%= image_tag current_user.gravatar_src %></div>
		<div class="title"><%= current_user.name %></div>
		<div class="ribbon"></div>
<% end %>


<% content_for :page do %>
	<div id="group">
		<div id="vision_wrap">
			<%= render :partial => '/groups/vision', :locals => { :group => current_user.my_life } %>
		</div>
	</div>
<% end %>


<%= render 'pad' %>