<div class="content-header">
  <%= image_tag 'landing/customers-page-title.png', :class => 'page-title center' %>
</div>

<div class="ccontainer space50">

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/mandy.jpg' %>
      <p><span class="cname">Mandy Pratt</span><br>
      <span class="ctitle">Entrepreneur, Life Coach</span></p>
      <p>There is no way I'd be able to manage my business, coaching clients, and personal family life if I didn't have the system of RPM! It works because it teaches you how to be FOCUSED on what you want, and have the 'map' to make it happen.</p>
    </div>
  </div>

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/sophie.jpg' %>
      <p><span class="cname">Sophie Bizeul</span><br>
      <span class="ctitle">Professional Training &amp; Coaching</span></p>
      <p>RPM gets me back on track with my dreams by reconnecting me with my deeper purpose every time and showing me in a simple and effective way which specific actions are actually going to make the difference of the difference.</p>
    </div>
  </div>

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/howard.jpg' %>
      <p><span class="cname">Howard Tiersky</span><br>
      <span class="ctitle">President, <a href="http://www.movinginteractive.com/">Moving Interactive</a></span></p>
      <p>The abundance of opportunity in the mobile, web and social media applications space is incredible-and prior to RPM, often overwhelming! But now, RPM enables me to be much more effective in how I respond to ongoing opportunity. Each day, I approach any activity asking, 'What is the outcome I am trying to achieve here-and why?' This ensures that I will move towards my goals with energy and effectiveness.</p>
    </div>
  </div>

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/patrick.jpg' %>
      <p><span class="cname">Patrick Harvey</span><br>
      <span class="ctitle">Real Estate Broker, <a href="http://www.westusa.com/">West USA Realty</a></span></p>
      <p>I am an associate real estate broker in Scottsdale, and as many of us are, I am a serial entrepreneur as well.  I use RPM to keep track of everything I have going on -- the biggest benefit is writing down the Why. Sometimes the process of doing this convinces me to stop a project, or push a project to the top of the list. This feature alone is worth the whole package -- to get me thinking more about why.</p>
    </div>
  </div>

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/johnrp.jpg' %>
      <p><span class="cname">John Reza Parsiani</span><br>
      <span class="ctitle">Real Estate Broker &amp; Entrepreneur</span></p>
      <p>I am a Real Estate Broker, Entrepreneur in the process of launching several startup companies, and full time student earning my MBA.  So as you can imagine time is not something I let pass lightly. With the Rapid Planning Method I have been able to effectively prioritize and focus on what truly gets me to my goals rather than being busy just to be busy. I have since replaced being "busy" with being "productive".   RPM rises above the traditional "time management" programs to become a life-goal-priority management system.</p>
    </div>
  </div>

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/darrell.jpg' %>
      <p><span class="cname">Darrell Walker</span><br>
      <span class="ctitle">Life Coach</span></p>
      <p>One of my greatest accomplishments that came as a result of using Tony Robbins' RPM system was organizing and growing my business to the point that I could exercise my exit strategy and sell my business for more than I thought possible and transition to my full time coaching career. I continue to use the system to manage my life and get fantastic results each day that continue to delight me! People ask me all the time, 'How do you manage to get so much done?' I just smile and tell them about the Rapid Planning Method.</p>
    </div>
  </div>

</div> <!-- end ccontainer -->

<div class="clear"></div>


<a href="<%= new_invite_path %>"><%= image_tag 'landing/signup-free.png', :class => 'csignup-btn center' %></a>
<div class="csignup shadowdrop"></div>

<div class="ccontainer space30">

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/neecie.jpg' %>
      <p><span class="cname">Dr. Neecie Moore</span><br>
      <span class="ctitle">Licensed Marriage &amp; Family Therapist</span></p>
      <p>I was totally overwhelmed about the most important day of my life-my wedding.  By transforming my insane  "To-DO" list into a project with a Results-focused, Purpose-driven, Massive Action Plan, my wedding came off an incredible, smashing success!  I got ot enjoy it, spend time with my best friends and it was perfect.  I can’t thank you enough for RPM and I can’t wait to get my Life Planner!</p>
    </div>
  </div>

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/ward.jpg' %>
      <p><span class="cname">Michelle Ward</span><br>
      <span class="ctitle">Entrepreneur</span></p>
      <p>I used to lay awake at night worrying about all I had to do.  Now thanks to (O.P.A.) RPM, I wake up in the morning excited about the day!  I’ve never been more in control of my life, more happy, and more fulfilled!</p>
    </div>
  </div>

  <div class="cbox">
    <div class="paperclip"></div>
    <div class="ccontent">
      <%= image_tag 'landing/campton.jpg' %>
      <p><span class="cname">Chris Campton</span><br>
      <span class="ctitle">Sales Manager, <a href="http://www.stonhard.com/">Stonhard, Inc.</a></span></p>
      <p>I'm a highly compensated, successful professional - and since I started applying RPM in my life, I'm at least 100% happier!  I'm spending more time with my family, and I’m getting more done at work. My relationships with my wife and kids have improved dramatically.  I’m working out every day and my energy level has gone through the roof.  I'm more fulfilled than I ever imagined possible.</p>
    </div>
  </div>

</div> <!-- end ccontainer -->


<div class="clear"></div>

<a href="<%= new_invite_path %>"><%= image_tag 'landing/signup-free.png', :class => 'center' %></a>