<div class="content-header">
  <%= image_tag 'landing/tour-page-title.png', :class => 'page-title center' %>
</div>

<div class="entry-box fs18">
  <%= image_tag 'landing/tour-subtitle.png' %>
  <div class="clear space20"></div>
  <div class="col1">
    <p style="text-align:justify;">The secret to the TimeMaster Rapid Planning Method app is that it provides you a way to easily capture everything that is happening into your life into lists and quickly combined them so that your focus is locked into the results you want.</p>
  </div>
  <div class="col2">
    <p style="text-align:justify;">The result is you will more rapidly accomplish more things in less time then is possible with any other get things done app around today.   With TimeMasterRPM you will accomplish what matters to you and eliminate the things that zap your of time and energy.</p>
  </div>
</div>
<div class="space50"></div>

<div class="entry-box shadowdrop">
  <p class="topdown fs24">In minutes create a clear picture of what it is you really want.</p>
  <%= image_tag 'landing/tour_11.png' %>
  <p class="bottomup fs24">Wherever and Whatever You are Doing you Now<br>Get to Organize Your Life Around What You Want</p>
</div>

<a href="<%= new_invite_path %>"><div class="tour-signup"><%= image_tag 'landing/signup-free.png' %></div></a>
<div class="entry-box shadowdrop">
  <div class="space30"></div>
  <p class="topdown fs24">Get Everything Out of your Mind &amp; Into TimeMasterRPM</p>
  <%= image_tag 'landing/tour_15.png' %>
  <p class="bottomup fs24">Keep Your Focus on the Results<br>that You Really Want in Your Life</p>
  <br>
  <p>Now that you have dumped everything out of your brain and into your app you no longer<br>have to remember things through a long list of to dos to get done is overwhelming.</p>
</div>

<a href="<%= new_invite_path %>"><div class="tour-signup"><%= image_tag 'landing/signup-free.png' %></div></a>
<div class="entry-box shadowdrop">
  <div class="space50"></div>
  <p class="">Now's the time to take real control and focus on exactly what you want by<br>creating the results you are going to go after. It’s simple to do. Create a<br>Result Block and drag and drop related action items to related outcomes.</p>
  <%= image_tag 'landing/tour_19.png', :class => 'space30' %>
</div>

<a href="<%= new_invite_path %>"><div class="tour-signup"><%= image_tag 'landing/signup-free.png' %></div></a>
<div class="entry-box shadowdrop">
  <div class="space50"></div>
  <%= image_tag 'landing/celebrate.png', :class => 'space20' %>
  <p class="">With reminders, celebratory sounds, and magical moments TimeMasterRPM will keep you<br>focused, excited and give you the reward of knowing that you are getting done the things that<br>are most important to you in your life. Ultimately the result will be a life filled with more magical<br>moments and more time to do the things that matter most to you.</p>
  <%= image_tag 'landing/tour_27.png', :class => 'space30' %>
</div>
<a href="<%= new_invite_path %>"><%= image_tag 'landing/signup-free.png', :class => 'space30' %></a>
