
<% content_for :top do %>

		<div class="cover"></div>
		<div class="title"><%= @project.title %></div>
		<div class="filters_wrap">
			<a id="plan" class="filter rounded_left active">Plan</a>
			<a id="vision" class="filter rounded_right">Forecast</a>
		</div>
		<div class="ribbon"></div>

<% end %>

<% content_for :page do %>
	<div id="group">
		<div id="project_wrap">
		
			<div id="project_ult_block">
				<div class="notes_wrap">
					<div class="header">Resources</div>
					<div id="project_notes">
						<%= render 'notes' %>
						<br><br>
						<%= form_for([@project, Note.new], :remote => true) do |f| %>
								<%= f.text_field :note, :autocomplete => :off %>
								<%= f.submit %>
						<% end %>
					</div>
				</div>
				<div class="outcome_wrap">
					<div class="header">Project Outcome</div>
					<div class="outcome">
						<%= @project.outcome %>
						<br><br>
						<%= form_for(@project, :remote => true) do |f| %>
								<%= f.text_field :outcome, :autocomplete => :off %>
								<%= f.submit %>
						<% end %>
					</div>
				</div>
				<div class="purpose_wrap">
					<div class="header">Project Purpose</div>
					<div class="purpose">
						<%= @project.purpose %>
						<br><br>
						<%= form_for(@project, :remote => true) do |f| %>
								<%= f.text_field :purpose, :autocomplete => :off %>
								<%= f.submit %>
						<% end %>
					</div>
				</div>
			</div>
		
		
			<br><br>

			<div id="input_wrap">
				<span class="inner_shadow"></span>
				<%= form_for(Task.new, :remote => true) do |f| %>
					<%= f.text_field :title, :autocomplete => :off, :value => "New Action or Outcome...", :onfocus => '(this.value == "New Action or Outcome...") ? this.value = "" : this.value', :onblur => '(this.value == "") ? this.value = "New Action or Outcome..." : this.value' %>
					<%= f.hidden_field :project_id, :value => @project.id.to_s %>
					<%= f.hidden_field :group_id, :value => @project.group_id.to_s %>
				<% end %>
			</div>
			
			
			<h3 class="page">Must Actions &amp; Results</h3>
			
			<ul id="must" class="sortable must_task_list">
				<% @project.tasks.project_musts.each do |task| %>
						<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'true'} %>
				<% end %>
			</ul>
			
			<h3 class="page">Actions &amp; Results</h3>
		
			<ul id="incomplete" class="sortable incomplete_task_list">
				<% @project.tasks.project_nonmusts.each do |task| %>
						<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'true'} %>
				<% end %>
			</ul>
			
			<h3 id="complete_header" class="page <%= "no_disp" if @project.tasks.project_complete.count == 0 %>">Completed</h3>
			
			<ul id="complete" class="sortable incomplete_task_list">
				<% @project.tasks.project_complete.each do |task| %>
						<%= render :partial => '/tasks/task', :locals => { :task => task, :action_plan => 'true'} %>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>

<%= render '/home/pad' %>
