<div id="email_wrap" class="email_dialog">
	
<%= form_for @email, :remote => true do |f| %>

	<div class="modal_title_wrap">
			<div class="modal_cancel_wrap">
				<div id="close_fancybox"><span class="no_disp">Cancel</span></div>
			</div>
			<div class="modal_submit_wrap">
				<%= image_submit_tag('clear.gif', :class => 'send') %>
			</div>
			<div class="modal_title"> Email Item </div>
	</div>
	<div id="fields_wrap">
		<div class="address_wrap">
			<label>To</label><%= f.text_field :to_email %>
		</div>
		<br>
		<div class="">
			<label>Message</label><%= f.text_field :message %>
		</div>
		<br>
		<div class="recorder_wrap">
			<label>Voice</label>
			<div id="recorder">
				<% session_key_name = Rails.application.config.session_options[:key] %>
				<%= swf_tag asset_path('recorder.swf'), :id => 'VOCWordToYourMp3', :width => '250', :height => '137', :flash_version => '10', :flashvars => { :authVar => "#{u(form_authenticity_token)}", :sessionVar => "#{u(cookies[session_key_name])}" } %>
			</div>
		</div>
		<br>
		<div id="task_lev_wrap">
			
			<% if @task.outcome == true %>
				<%= render 'outcome' %>
			<% elsif @task.parent_id != nil %>
				<div>
					<span class="checkbox" id="load_outcome" pid="<%= @task.parent_id %>">V<span> Show block
				</div>
				<%= render :partial => 'task', :locals => { :task => @task } %>
			<% else %>
				<%= render :partial => 'task', :locals => { :task => @task } %>
			<% end %>
			<input type="hidden" name="task_id[]" value="<%= @task.id.to_s %>" class="task_id">
		</div>
	</div>
	
<% end %>

</div>