
<img src="http://c3403180.r80.cf0.rackcdn.com/email_logo.png" id="email_logo">

<div id="view_email_wrap">


		<div class="intro">
			<strong>Hello,</strong>
			<br>
			<strong><%= @email.user.name %></strong> has asked you to respond to the following:
			<br>
		</div>

		<div class="message">
			<div class="img_wrap">
				<%= image_tag @email.user.images.forward.first.image.thumb if @email.user.images.first %>
			</div>
			<div class="msg_wrap">
				<span class="nub"></span>
				<%= @email.message %>
				<% if @email.audio.url %>
					<%= render :partial => '/emails/mini_player', :locals => { :email => @email } %>
				<% end %>
			</div>
		</div>


		<div class="leveraged_wrap">
			<% if @email.outcome == true %>
				<%= render 'outcome_view' %>
			<% else %>
				<%= render :partial => 'task', :locals => { :task => @task } %>
			<% end %>
		</div>

		<div class="buttons_wrap">
			<form method="post" action="<%= accept_email_path @email %>">
				<input type="submit" id="accept" value="Accept">
				<input type="hidden" name="<%= @email.outcome ? 'outcome_id' : 'task_id[]' %>" value="<%= @task.id.to_s %>" class="task_id">
			</form>
			<form method="post" action="<%= reject_email_path @email %>">
				<input type="submit" id="reject" value="Reject">
			</form>
		</div>

</div>