$('.filters_wrap a').removeClass('active');
$('#day').addClass('active');
$('#pad').replaceWith("<%= escape_javascript render('schedule')  %>");
$('.categories_wrap').replaceWith("<%= escape_javascript render('side')  %>");
$('#datepicker').remove();
$('.categories_wrap').after('<div id="datepicker"></div>');

$(document).ready(function() {
	
	$( "#datepicker" ).datepicker({
		defaultDate: "<%= @start_date %>",
		showOtherMonths: true,
		dateFormat: 'yy-mm-dd',
		dayNamesMin: ['S','M','T','W','T','F','S'],
		beforeShowDay: function(date){
			var title = dbDate(date);
			return [1,'droppable',title];
		},
		onSelect: function(dateText, inst){
			$.ajax({
				url: "/day/schedule/" + dateText,
				type: 'GET'
			});
		}
	});

   var $calendar = $('#schedule');
   var id = 10;

	$calendar.weekCalendar({
		date: new Date(parseInt("<%= @date.year %>"),parseInt("<%= @date.month %>")-1,parseInt("<%= @date.day %>")),
		displayOddEven:true,
		timeslotsPerHour : 4,
		timeslotHeight : 15,
		allowCalEventOverlap : true,
		overlapEventsSeparate: true,
		firstDayOfWeek : 1,
		businessHours :{start: 8, end: 18, limitDisplay: false },
		alwaysDisplayTimeMinutes: false,
		daysToShow : 1,
		useShortDayNames: true,
		headerSeparator: ' ',
		timeSeparator: ' - ',
		timeFormat: 'h:ia',
		switchDisplay: {'day': 1, 'week': 7},
		title: function(daysToShow) {
			return daysToShow == 1 ? '<span class="big">%day%</span> <span class="small">%date%</span>' : '<span class="big">%start% - %end%</span>';
		},
      eventRender : function(calEvent, $event) {
         if (calEvent.readOnly == true) {
            $event.addClass('readonly');
         }
		if (calEvent.end.getTime() < new Date().getTime()) {
            $event.addClass('past_event');
         }
      },
      draggable : function(calEvent, $event) {
         return calEvent.readOnly != true;
      },
      resizable : function(calEvent, $event) {
         return calEvent.readOnly != true;
      },
      eventNew : function(calEvent, $event) {
         var $dialogContent = $("#event_edit_container");
         resetForm($dialogContent);
         var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
         var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
         var titleField = $dialogContent.find("input[name='title']");
         var bodyField = $dialogContent.find("textarea[name='body']");


         $dialogContent.dialog({
            modal: true,
            title: "New Calendar Event",
            close: function() {
               $dialogContent.dialog("destroy");
               $dialogContent.hide();
               $('#calendar').weekCalendar("removeUnsavedEvents");
            },
            buttons: {
               save : function() {
                  calEvent.id = id;
                  id++;
                  calEvent.start = new Date(startField.val());
                  calEvent.end = new Date(endField.val());
                  calEvent.title = titleField.val();
                  calEvent.body = bodyField.val();

                  $calendar.weekCalendar("removeUnsavedEvents");
                  $calendar.weekCalendar("updateEvent", calEvent);
                  $dialogContent.dialog("close");
               },
               cancel : function() {
                  $dialogContent.dialog("close");
               }
            }
         }).show();

         $dialogContent.find(".date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
         setupStartAndEndTimeFields(startField, endField, calEvent, $calendar.weekCalendar("getTimeslotTimes", calEvent.start));

      },
		changedate: function($calendar, newDate){
			$('#datepicker').datepicker('setDate',newDate);
			$('#day_plan').attr('href','/day/plan/'+dbDate(newDate));
			$.get('/day/side/' + newDate.toString('yyyy-MM-dd 00:00:00'), function(data){
				$('.categories_wrap').replaceWith(data);
			});
		},
      eventDrop : function(calEvent, $event) {
       	var start = calEvent.start.toString('yyyy-MM-dd HH:mm:00');
		var end = calEvent.end.toString('yyyy-MM-dd HH:mm:00');
		var taskId = calEvent._id;
		$.ajax({
			url: "/tasks/" +  taskId,
			type: 'PUT',
			data: $.param({task : { start: start, end: end, scheduled: 'true' }})
		});
      },
      eventResize : function(calEvent, $event) {
		var min_duration = ((calEvent.end.getTime() - calEvent.start.getTime())/1000)/60;
		var start = calEvent.start.toString('yyyy-MM-dd HH:mm:00');
		var end = calEvent.end.toString('yyyy-MM-dd HH:mm:00');
		var taskId = calEvent._id;
		$.ajax({
			url: "/tasks/" +  taskId,
			type: 'PUT',
			data: $.param({task : { start: start, end: end, min_duration: min_duration }})
		});
      },
      eventClick : function(calEvent, $event) {

         if (calEvent.readOnly) {
            return;
         }

         var $dialogContent = $("#event_edit_container");
         resetForm($dialogContent);
         var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
         var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
         var titleField = $dialogContent.find("input[name='title']").val(calEvent.title);
         var bodyField = $dialogContent.find("textarea[name='body']");
         bodyField.val(calEvent.body);

         $dialogContent.dialog({
            modal: true,
            title: "Edit - " + calEvent.title,
            close: function() {
               $dialogContent.dialog("destroy");
               $dialogContent.hide();
               $('#calendar').weekCalendar("removeUnsavedEvents");
            },
            buttons: {
               save : function() {

                  calEvent.start = new Date(startField.val());
                  calEvent.end = new Date(endField.val());
                  calEvent.title = titleField.val();
                  calEvent.body = bodyField.val();

                  $calendar.weekCalendar("updateEvent", calEvent);
                  $dialogContent.dialog("close");
               },
               "delete" : function() {
                  $calendar.weekCalendar("removeEvent", calEvent.id);
                  $dialogContent.dialog("close");
               },
               cancel : function() {
                  $dialogContent.dialog("close");
               }
            }
         }).show();

         var startField = $dialogContent.find("select[name='start']").val(calEvent.start);
         var endField = $dialogContent.find("select[name='end']").val(calEvent.end);
         $dialogContent.find(".date_holder").text($calendar.weekCalendar("formatDate", calEvent.start));
         setupStartAndEndTimeFields(startField, endField, calEvent, $calendar.weekCalendar("getTimeslotTimes", calEvent.start));
         $(window).resize().resize(); //fixes a bug in modal overlay size ??

      },
      eventMouseover : function(calEvent, $event) {
      },
      eventMouseout : function(calEvent, $event) {
      },
      noEvents : function() {

      },
      data : function(start, end, callback) {
		var start = new Date(start).toString('yyyy-MM-dd 00:00:00');
		var end = new Date(end).toString('yyyy-MM-dd 23:59:00');
		$.getJSON("/week/json/"+start+"/"+end, function(result) {
			callback(result);
   		});
      }
   });

   function resetForm($dialogContent) {
      $dialogContent.find("input").val("");
      $dialogContent.find("textarea").val("");
   }


   /*
    * Sets up the start and end time fields in the calendar event
    * form for editing based on the calendar event being edited
    */
   function setupStartAndEndTimeFields($startTimeField, $endTimeField, calEvent, timeslotTimes) {

      $startTimeField.empty();
      $endTimeField.empty();

      for (var i = 0; i < timeslotTimes.length; i++) {
         var startTime = timeslotTimes[i].start;
         var endTime = timeslotTimes[i].end;
         var startSelected = "";
         if (startTime.getTime() === calEvent.start.getTime()) {
            startSelected = "selected=\"selected\"";
         }
         var endSelected = "";
         if (endTime.getTime() === calEvent.end.getTime()) {
            endSelected = "selected=\"selected\"";
         }
         $startTimeField.append("<option value=\"" + startTime + "\" " + startSelected + ">" + timeslotTimes[i].startFormatted + "</option>");
         $endTimeField.append("<option value=\"" + endTime + "\" " + endSelected + ">" + timeslotTimes[i].endFormatted + "</option>");

         $timestampsOfOptions.start[timeslotTimes[i].startFormatted] = startTime.getTime();
         $timestampsOfOptions.end[timeslotTimes[i].endFormatted] = endTime.getTime();

      }
      $endTimeOptions = $endTimeField.find("option");
      $startTimeField.trigger("change");
   }

   var $endTimeField = $("select[name='end']");
   var $endTimeOptions = $endTimeField.find("option");
   var $timestampsOfOptions = {start:[],end:[]};

   //reduces the end time options to be only after the start time options.
   $("select[name='start']").change(function() {
      var startTime = $timestampsOfOptions.start[$(this).find(":selected").text()];
      var currentEndTime = $endTimeField.find("option:selected").val();
      $endTimeField.html(
            $endTimeOptions.filter(function() {
               return startTime < $timestampsOfOptions.end[$(this).text()];
            })
            );

      var endTimeSelected = false;
      $endTimeField.find("option").each(function() {
         if ($(this).val() === currentEndTime) {
            $(this).attr("selected", "selected");
            endTimeSelected = true;
            return false;
         }
      });

      if (!endTimeSelected) {
         //automatically select an end date 2 slots away.
         $endTimeField.find("option:eq(1)").attr("selected", "selected");
      }

   });


});