$('.filters_wrap a').removeClass('active');
$('#day').addClass('active');
$('#pad').replaceWith("<%= escape_javascript render('schedule')  %>");
$('.categories_wrap').replaceWith("<%= escape_javascript render('side')  %>");


$(document).ready(function() {
	
	attachDatepicker();

   var $calendar = $('#schedule');
   var id = 10;
	var now = new Date();
	
	$calendar.weekCalendar({
		date: new Date(parseInt("<%= @start_date.year %>"),parseInt("<%= @start_date.month %>")-1,parseInt("<%= @start_date.day %>"),now.getHours()),
		displayOddEven:true,
		timeslotsPerHour : 4,
		timeslotHeight : 15,
		allowCalEventOverlap : true,
		overlapEventsSeparate: true,
		firstDayOfWeek : 1,
		businessHours :{start: 8, end: 18, limitDisplay: false },
		alwaysDisplayTimeMinutes: false,
		daysToShow : 1,
		useShortDayNames: true,
		headerSeparator: ' ',
		timeSeparator: ' - ',
		timeFormat: 'h:ia',
		switchDisplay: {'day': 1, 'week': 7},
		title: function(daysToShow) {
			return daysToShow == 1 ? '<span class="big">%day%</span> <span class="small">%date%</span>' : '<span class="big">%start% - %end%</span>';
		},
		changedate: function($calendar, newDate){
			$('#day_plan').attr('href','/day/plan/'+dbDate(newDate));
			$.get('/day/side/' + newDate.toString('yyyy-MM-dd 00:00:00'), function(data){
				$('.categories_wrap').replaceWith(data);
				attachDatepicker();
				$('#datepicker').datepicker('setDate',newDate);
			});
		},
        eventRender : function(calEvent, $event) {
		if (calEvent.readOnly == true) {
			$event.addClass('readonly');
		}
		if (calEvent.end.getTime() < new Date().getTime()) {
			$event.addClass('past_event');
		}
      },
      draggable : function(calEvent, $event) {
		return calEvent.readOnly != true;
      },
      resizable : function(calEvent, $event) {
		return calEvent.readOnly != true;
      },
      eventDrop : function(calEvent, $event) {
		var start = db(calEvent.start);
		var end = db(calEvent.end);
		var taskId = calEvent._id;
		$.ajax({
			url: "/tasks/" +  taskId,
			type: 'PUT',
			data: $.param({task : { start: start, end: end, scheduled: 'true' }})
		});
      },
      eventResize : function(calEvent, $event) {
		var min_duration = ((calEvent.end.getTime() - calEvent.start.getTime())/1000)/60;
		var start = db(calEvent.start);
		var end = db(calEvent.end);
		var taskId = calEvent._id;
		$.ajax({
			url: "/tasks/" +  taskId,
			type: 'PUT',
			data: $.param({task : { start: start, end: end, min_duration: min_duration }})
		});
      },
      eventClick : function(calEvent, $event) {
		
		var start = ap(calEvent.start.getHours(),calEvent.start.getMinutes().toString());
		var end = ap(calEvent.end.getHours(),calEvent.end.getMinutes().toString());
		var date = day_names[calEvent.start.getDay()] + ' ' + month_names[calEvent.start.getMonth()] + ' ' + calEvent.start.getDate() + ', ' + calEvent.start.getFullYear();
		var dbStart = db(calEvent.start);
		var dbEnd = db(calEvent.end);
		var taskId = calEvent._id
		
		$('#edit_event .start').text(start);
		$('#edit_event .end').text(end);
		$('#edit_event .date').text(date);
		$('#edit_event .task_title').val(calEvent.title);
		$('#edit_event .task_dbstart').val(dbStart);
		$('#edit_event .task_dbend').val(dbEnd);
		$('#edit_event .task_id').val(taskId);

      },
      eventNew : function(calEvent, $event) {
		var start = ap(calEvent.start.getHours(),calEvent.start.getMinutes().toString());
		var end = ap(calEvent.end.getHours(),calEvent.end.getMinutes().toString());
		var date = day_names[calEvent.start.getDay()] + ' ' + month_names[calEvent.start.getMonth()] + ' ' + calEvent.start.getDate() + ', ' + calEvent.start.getFullYear();
		var dbStart = db(calEvent.start);
		var dbEnd = db(calEvent.end);
		
		$('#new_event .start').text(start);
		$('#new_event .end').text(end);
		$('#new_event .date').text(date);
		$('#new_event .task_dbstart').val(dbStart);
		$('#new_event .task_dbend').val(dbEnd);
		
		$event.attr('rel','#new_event').cluetip({
			activation:  'click',
			local: true,
			leftOffset: 0,
			topOffset: 45,
			width: 300,
			onShow: function() {
				$(document).bind('mousedown',function(e) {
					var cluetipClick = $(e.target).closest('#cluetip');
					if ((cluetipClick.length === 0) || ($(e.target).hasClass('cancel_cluetip'))){ 
						$(document).trigger('hideCluetip');
						$('#schedule').weekCalendar('removeUnsavedEvents');
					}
				});
				
			}
		});
		$event.trigger('click');

      },
      eventMouseover : function(calEvent, $event) {
      },
      eventMouseout : function(calEvent, $event) {
      },
      noEvents : function() {
      },
      data : function(start, end, callback) {
		var start = db(start);
		var end = db(end);
		$.getJSON("/week/json/"+start+"/"+end, function(result) {
			callback(result);
   		});
      }
   });

   function attachDatepicker(){
	
		$( "#datepicker" ).datepicker({
			defaultDate: "<%= @start_date %>",
			showOtherMonths: true,
			dateFormat: 'yy-mm-dd',
			dayNamesMin: ['S','M','T','W','T','F','S'],
			beforeShowDay: function(date){
				var title = dbDate(date);
				if(date.getDay() == 0) return [1,'droppable sunday',title];
				if(date.getDay() == 6) return [1,'droppable saturday',title];
				return [1,'droppable',title];
			},
			onSelect: function(dateText, inst){
				$.ajax({
					url: "/day/schedule/" + dateText,
					type: 'GET'
				});
			}
		});
	
	}
	
	function db(date){
		var year = date.getFullYear();
		var month = date.getMonth() + 1;
			month = month.toString();
			month = (month.length == 1) ? '0'+month : month;
		var day = date.getDate().toString();
			day = (day.length == 1) ? '0'+day : day;
		var hour = date.getHours().toString();
			hour = (hour.length == 1) ? '0'+hour : hour;
		var minutes = date.getMinutes().toString();
			minutes = (minutes.length == 1) ? '0'+minutes : minutes;
		return year+'-'+month+'-'+day+' '+hour+':'+minutes+':00';
	}

	function ap(hours,minutes){
		var ap = (hours < 12) ? 'am' : 'pm';
		var hour = (hours > 12) ? hours - 12 : hours
		var hour = (hours == 0) ? 12 : hour
		var minute = (minutes.length == 1) ? ':0'+minutes : ':'+minutes;
		var minute = (minute == ':00') ? '' : minute;
		return hour+minute+ap;
	}

	function dbDate(date){
		var year = date.getFullYear();
		var month = date.getMonth() + 1;
			month = month.toString();
			month = (month.length == 1) ? '0'+month : month;
		var day = date.getDate().toString();
			day = (day.length == 1) ? '0'+day : day;
		return year+'-'+month+'-'+day;
	}

	var month_names = new Array ( );
	month_names[month_names.length] = "Jan";
	month_names[month_names.length] = "Feb";
	month_names[month_names.length] = "Mar";
	month_names[month_names.length] = "Apr";
	month_names[month_names.length] = "May";
	month_names[month_names.length] = "Jun";
	month_names[month_names.length] = "Jul";
	month_names[month_names.length] = "Aug";
	month_names[month_names.length] = "Sep";
	month_names[month_names.length] = "Oct";
	month_names[month_names.length] = "Nov";
	month_names[month_names.length] = "Dec";

	var day_names = new Array ( );
	day_names[day_names.length] = "Sunday";
	day_names[day_names.length] = "Monday";
	day_names[day_names.length] = "Tuesday";
	day_names[day_names.length] = "Wednesday";
	day_names[day_names.length] = "Thursday";
	day_names[day_names.length] = "Friday";
	day_names[day_names.length] = "Saturday";




});