<!DOCTYPE html>
<html>
<head>
  <title> GrowthTap </title>
  <%= stylesheet_link_tag 'application' %>

  <%= javascript_include_tag 'application' %>

  <%= javascript_include_tag '/themes/twelve/galleria.twelve.min.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
	
	<%= yield %>
	
		
</body>
</html>