<!DOCTYPE html>
<html>
<head>
  <title> RPM </title>
  <%= stylesheet_link_tag '0_reset.css', 'home.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>


	<div id="content">
		<span class="notice"><%= notice %></span>
		<span class="alert"><%= alert %></span>
		<%= yield %>
	</div>

	
</body>
</html>
