<!DOCTYPE html>
<html>
<head>
  <title> GrowthTap </title>
  <%= stylesheet_link_tag 'home/home' %>
  <%= csrf_meta_tag %>
</head>
<body id="home" class="<%= params[:action] %> <%= @body_class %>">
	
<div id="beta_flag">
	<%= image_tag 'beta_ribbon.png' %>
</div>
	
<div id="wrapper">
  <div id="container">


<%= link_to('GrowthTap', root_path, :id=>"logo")  %>

<div id="user_links">
  <%= link_to('Login', new_user_session_path)  %>  / 
  <%= link_to('Sign up', new_user_registration_path)  %>
</div>


    <div id="content">
      <%= yield %>
    </div>

  </div>

</div>

 
</body>

</html>